{% extends "./base.html" %}
{% block title %}Products List{% endblock title %}
{% block content %}
    <h1>Products List:</h1>
    <ul>
        {% for product in products %}
            <li><a href="{% url 'shopapp:products_details' product.id %}">{{ product.name }}</a></li>
            <li>{% firstof product.description 'No description' %}</li>
            <li>{{ product.price }}</li>
            <li>{% firstof product.discount 'no discount'  %}</li>
            <hr><br>
        {% endfor %}
    </ul>
    <div>
        <p><a href="{% url 'shopapp:create_products' %}">Create Product</a></p>
    </div>

{% endblock content %}